.cards {
    padding: 1rem;
    background: #fff;
  }

  img {

    /* background-color: transparent; */
   
    /* Set rules to fill background */
    min-height: 50%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: 60%;
    
    /* Set up positioning */
    position: absolute;
    top: 0;
    left: 0;
    
  }
  
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }


  h1 {
    text-align: center;
    color: white;
    position: absolute;
    margin: auto 10px;
    /* margin-bottom: 20rem; */
    margin-left: 10rem;
    top: 20%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* margin-bottom: 50rem; */
  }

  /* .card-1{
    margin-left: 10rem;
    margin-right: 20rem;
  } */

  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    margin: -260px 0 45px;
    margin-right: 30rem;
    margin-bottom: 5rem;
  }
  
  .cards__items {
    margin-bottom: 10px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }

  /* search bar */

  .container input {
    border: 0;
    color: #8b7d77;
    outline: none;
   
  }
  
  .search_wrap{
    width: 500px;
    margin: 170px auto;
    margin-left:2rem;
  }

  .search_wrap .search_box {
    position: relative;
    width: 500px;
    height: 500px;
    
  }

  .search_wrap .search_box .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 10%;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 18px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #888888;
    color: #1185dd;
  }
 
  .search_wrap .search_box .btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: -25px;
    width: 4%;
    height: 4%;
    background: #7690da;
    z-index: 1;
    cursor: pointer;
  }
 

  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }
